<mat-toolbar color="accent">
  <span>Tazas</span>
  <button mat-button routerLink="/administrador">Administrador</button>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/administrador/pedidos">Pedidos</button>
  <button mat-button routerLink="/administrador/tazas">Tipos de Tazas</button>
  <button mat-button routerLink="/administrador/nueva-taza">Nueva Taza</button>
  <button mat-icon-button routerLink="/login">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
